/* styles.css */

/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}



/* Headings */
h1, h2, h3, h4 {
    color: #2c3e50;
}

p {
    margin: 0 0 10px;
}

img {
    display: block;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* Recipe list styles */
#recipe-list {
    list-style-type: none;
    padding: 0;
}

#recipe-list li {
    margin: 5px 0;
}

/* Input field styles */
input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}




/* Recipe Layout */
.recipe {
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.recipe img {
    max-width: 100%;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 5px;
}

/* Navigation Bar */
nav {
    background-color: #5a2a83;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
        margin-bottom: 5px;
    }
}

